.idea
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/public/sw.js
/public/sw.js.map
/public/workbox*
/public/worker-development.js
/public/sitemap*
/public/worker-*
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,nextjs
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,nextjs

### NextJS ###
# Next build dir
.next/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,nextjs
